#mxgit-marker-start
*.bak
*.launch
*.mda
*.mpr.lock
*.orig
*.svn
.classpath
.gradle/
.idea
.mendix-cache
.project
.settings
.svn
.vscode
/.nb-gradle-properties
/.nb-gradle/
/bin/
/build/
/nbproject/
GPUCache
gradle
gradlew
gradlew.bat
package.xml
private/cache/retriever/catalog.xml

/src/CommunityCommons/*.mpk
/src/CommunityCommons/*.mpr.bak
/src/CommunityCommons/*.mpr.left*
/src/CommunityCommons/*.mpr.lock
/src/CommunityCommons/*.mpr.right*
/src/CommunityCommons/build/
/src/CommunityCommons/deployment
/src/CommunityCommons/javasource/*/proxies/
/src/CommunityCommons/javasource/system/
/src/CommunityCommons/modeler-merge-marker
/src/CommunityCommons/project-settings.user.json
/src/CommunityCommons/theme/native/
/src/CommunityCommons/theme/web
/src/CommunityCommons/themesource/
/src/CommunityCommons/userlib/
