deployment
/releases
/.settings
*.launch
.classpath
.project
*.mpr.lock
.mendix-cache
proxies
*.svn
/modeler-merge-marker
/.mendix-cache
/*.mpr.bak
/*.mpr.left*
/*.mpr.right*
#mxgit-marker-start
src/.svn
src/modeler-merge-marker
src/.mendix-cache
src/*.mpr.lock
src/*.mpr.bak
src/*.mpr.left*
src/*.mpr.right*
src/.settings
src/deployment
src/releases
*.launch
.classpath
.project
src/javasource/system/actions/VerifyPassword.java
src/javasource/system/UserActionsRegistrar.java